@charset "UTF-8";
/* CSS Document */

#wrapper {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	font-family: chalkduster,"apple chancery","hobo std","marker felt";
	padding: 25px;
	text-align: center;
	background-color: #6fcee2;
	
}

img{
	 display: block;
    margin-left: auto;
    margin-right: auto;
}

a:link{
	
	text-decoration:none;
	
	
	
}

ul{
	list-style-type:none;
	margin: 0;
	padding: 0;
	background-color:#6fcee2;
	overflow: hidden;
	position: fixed;
	top:0;
	width: 100%;
	
		
}

li a {
	
	display: block;
	padding: 8px 16px;
	text-decoration: none;
	text-align: center;
}

/* change the link color on hover */
li a:hover {
	background-color: #33A9B5;
	color: #891919;
	
}

li {
	float:left;
}

a{
	color:#891919;
	display:block;
	padding: 8px;
	text-align:center;

	
	
}



#other { 
	text-align: left; 

}



#moveit {
	text-align: right;
}

